#root {

  background-color: #211951;
}

.react-chatbot-kit-chat-header {
  @apply bg-[#15F5BA]
}

.react-chatbot-kit-chat-btn-send {
  @apply bg-[#15F5BA]
}

.react-chatbot-kit-chat-btn-send-icon {
  @apply text-[#211951]
}

.react-chatbot-kit-chat-container {
  @apply container h-[800px]
}

.react-chatbot-kit-chat-inner-container {
  @apply h-[800px]
}

.react-chatbot-kit-chat-message-container {
  @apply h-[724px] bg-[#F0F3FF]
}


.react-chatbot-kit-chat-bot-message {
  @apply ml-0
}


.react-chatbot-kit-chat-input {
  @apply bg-[white] text-[#211951]
}


.react-chatbot-kit-chat-bot-message {
  background-color: #836FFF;
  width: fit-content;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #836FFF;
}


.react-chatbot-kit-user-chat-message {
  @apply bg-[#211951] text-[#fff];
  width: fit-content;
}

.react-chatbot-kit-user-chat-message-arrow {
  border-left: 8px solid #211951;
}

.react-chatbot-kit-chat-bot-message-container {
  padding-left: 50px;
}

.react-chatbot-kit-chat-bot-message-container:has(.react-chatbot-kit-chat-bot-avatar) {
padding-left: 0;
}